<h1>Trail System</h1>
<h2>Profile</h2>

<div class="profile-container">

    <form asp-action="Profile" method="post">
        <br /><input type="text" class="login-input" placeholder="Email" id="email" name="email" /></ br>
        <br /><input type="password" class="login-input" placeholder="Password" id="password" name="password" /></ br>

    </form>

</div>